@import "fonts";
@import "constants";
@import "mixins";
@import "reset";
@import "media";

html, body {
    background: $mainbg;
    height: auto;
    padding: 0;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

#root {
    height: auto;
}

.landing-body {

}

.landing-page {
    height: auto;
}
