.landing-page__middle-pane {
    display: block;
    position: relative;
    margin-top: -87px;
}

.middle-pane__services-list-wrapper {
    padding: 30px 30px 0;
}

.middle-pane__useful-environment {
    margin-top: 15px;
    padding: 0 30px 140px;
}

.middle-pane__about {
    position: relative;
    padding: 0 30px 100px;
    background-color: $white;
}
